{% load staticfiles %}
{% load static %}
{% load i18n static %}
	<!-- Characteristics -->

	<div class="characteristics">
		<div class="container">
			<div class="row">

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="{%static 'images/char_1.png' %}" alt=""></div>
						<div class="char_content">
							<div class="char_title">Envios gratis</div>
							<div class="char_subtitle">desde $5000</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="{% static 'images/char_2.png' %}" alt=""></div>
						<div class="char_content">
							<div class="char_title">Envios gratis</div>
							<div class="char_subtitle">desde $5000</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="{% static 'images/char_3.png' %}" alt=""></div>
						<div class="char_content">
							<div class="char_title">Envios gratis</div>
							<div class="char_subtitle">desde $5000</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="{% static 'images/char_4.png' %}" alt=""></div>
						<div class="char_content">
							<div class="char_title">Envios gratis</div>
							<div class="char_subtitle">desde $5000</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>